body{
	min-height: 100%;
	display: flex;
	margin: 0px;
	flex-direction: column;
}

#page {
	width: 1070px;
	margin: auto;
	flex: 1;
}

#header {
	height: 230px;
	background-image: url("images/header.jpg");
	background-size: 100%;
	margin: 0px;
	width: 100%;
}

#header img {
	height: 180px;
	display: block;
	padding-top: 25px;
	margin: auto;
}

hr{
	margin: 0px;
	height: 5px;
	background-color: #5ba7b0;
	border: 0;
}

#globalNav {
	width: 100%;
	margin: auto;
}

nav{
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: 100%;
}

nav a {
	text-decoration: none;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 700;
	color: black;
	font-size: 22px;
	transition: color 0.25s ease;
	padding-left: 5%;
	padding-right: 5%;
}

a:hover {
	color: #5ba7b0;
}

.navigation {
	display: inline;
	padding-right: 20%;
	padding-top: 5px;
}

#container{
	margin: auto;
}

.content {
	margin-top: 32px;
}

.content:first-child {
	width: 693px;
	float: left;
}
.content:nth-child(2){
	float: right;
	margin-left: 15px;
	width: 347px;
}

.content:nth-child(3){
	float: right;
	margin-left: 15px;
	width: 347px;
}

.content h1 {
	font-family: 'Crimson Text', serif;
	color: #5ba7b0;
	font-size: 50px;
	font-weight: 700;
	margin: 0px;
}

.content p {
	font-family: 'Yantramanav', sans-serif;
	margin: 0px;
	font-weight: 300px;
}

.vid {
	width: 693px;
}

.vidGrid {
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}

.vidGrid p{
	margin-top: 10px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 55%; /* 16:9 */
	height: 0;
	
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.clearfloat {
	clear: both;
}


footer {
	margin-top: 30px;
	height: 55px;
}

footer div {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 320px;
}

footer div img {
	height: 35px;
}

footer p{
	width: 320px;
	text-align: center;
	margin: auto;
	font-family: 'Yantramanav', sans-serif;
}

#gallery {
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	-moz-column-count: 3;
	-moz-column-gap: 5px;
	column-count: 3;
	column-gap: 5px;
	margin-top: 32px;
}

.galleryImage {
	width: 100% !important;
	height: auto !important;
	margin-top: 5px;
}